<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.OrderSheetMapper">
	<resultMap type="com.project.model.Order"
		id="OrderSheetMap">
		<id property="o_id" column="o_id" />
		<result property="o_product_p_fk" column="o_product_p_fk" />
		<result property="o_member_m_fk" column="o_member_m_fk" />
		<result property="o_phoneNumber" column="o_phoneNumber" />
		<result property="o_address" column="o_address" />
		<result property="o_recipient" column="o_recipient" />
		<result property="o_date" column="o_date" />
		<result property="o_quantity" column="o_quantity" />
		<result property="o_state" column="o_state" />
		<result property="o_dstate" column="o_dstate" />
		<result property="o_option1" column="o_option1" />
		<result property="o_option2" column="o_option2" />
		<result property="o_postCode" column="o_postCode" />
		<result property="o_postCompanyKey" column="o_postCompanyKey" />
		<result property="o_reason" column="o_reason" />
	</resultMap>
	
	<resultMap type="com.project.model.Product" id="ProductMap">
		<id property="p_id" column="p_id" />
		<result property="p_name" column="p_name" />
		<result property="p_price" column="p_price" />
		<result property="p_category" column="p_category" />
		<result property="p_duedate" column="p_duedate" />
		<result property="p_recruitdate" column="p_recruitdate" />
		<result property="p_createdate" column="p_createdate" />
		<result property="p_nickname_m_fk" column="p_nickname_m_fk" />
		<result property="p_chk" column="p_chk" />
		<result property="p_sell" column="p_sell" />
		<collection property="img" column="p_id"
			javaType="java.util.ArrayList" ofType="com.project.model.Img"
			select="getImg" />
		<collection property="option" column="p_id"
			javaType="java.util.ArrayList" ofType="com.project.model.Option"
			select="getOpt" />
		<collection property="discount" column="p_id"
			javaType="java.util.ArrayList" ofType="com.project.model.discount"
			select="getDiscount" />
	</resultMap>

	<!-- ==============================join result========================================= -->
	
	<select id="getProduct" parameterType="int" resultMap="ProductMap">
		SELECT * FROM product 
		WHERE o_product_p_fk=#{p_id}
	</select>

	<select id="getMember" parameterType="String" resultType="int">
		SELECT m.m_id FROM member AS m LEFT JOIN product AS p on
		m.m_nickname=p.p_nickname_m_fk 
		WHERE m.m_nickname=#{p_nickname_m_fk} GROUP BY m.m_nickname;
	</select>
	
	<!-- ===================================add part ============================== -->

	<insert id="AddOrder" parameterType="com.project.model.Order">

		INSERT INTO project.ord(
		o_product_p_fk
		, o_member_m_fk
		, o_phoneNumber
		, o_address
		, o_recipient
		, o_date
		, o_quantity
		, o_state
		, o_dstate
		, o_option1
		, o_option2
		, o_postCode
		, o_postCompanyKey
		, o_reason
		)
		VALUES(
		#{o_product_p_fk}
		, #{o_member_m_fk}
		, #{o_phoneNumber}
		, #{o_address}
		, #{o_recipient}
		, NOW()
		, #{o_quantity}
		, #{o_state}
		, #{o_dstate}
		, #{o_option1}
		, #{o_option2}
		, #{o_postCode}
		, #{o_postCompanyKey}
		, #{o_reason}
		)
	</insert>
	
	<update id="Refund" parameterType="com.project.model.Order">
		UPDATE ord
		SET o_state="환불/교환 요청"
		, o_reason=#{o_reason}
		WHERE o_id=#{o_id}		
 
	</update>


</mapper>