* {
   box-sizing: border-box;
}

.container {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.main_box {
   position: relative;
   width: 1200px;
   justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
   padding-top: 170px;
}

.cart-title {
   font-size: 40px;
   font-weight: bold;
   width: 1200px;
   height: 70px;
   justify-content: center;
   display: flex;
   align-items: center;
}

.cart_form {
   width: 1200px;
   justify-content: center;
   align-items: flex-start;
   display: flex;
   flex-direction: column;
}

.cart_form label {
   margin-left: 20px;
}

.allcheck {
   justify-content: flex-start;
   display: flex;
   width: 20px;
   height: 20px;
   align-items: flex-start;
   margin-left: 20px;
}

.cart_list {
   padding: 10px;
   margin-top: 10px;
   width: 1200px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.product_select_event {
   padding: 10px;
   margin-top: 10px;
   width: 50px;
   height: 160px;
   display: flex;
   width: 50px;
   margin-top: 10px;
}

.product_img {
   border: 1px solid purple;
   width: 200px;
   height: 160px;
   display: flex;
   margin-top: 10px;
}

.product_img img {
   width: 200px;
   height: 159px;
}

.product_total_box {
   margin-top: 10px;
   border: 1px solid green;
   width: 1000px;
   height: 160px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.product_box1 {
   width: 950px;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.product_title {
   width: 750px;
   height: 80px;
   display: flex;
   justify-content: start;
   align-items: center;
   font-weight: bold;
}

.product_title span {
   margin-left: 20px;
}

.product_option1 {
   width: 250px;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.product_option2 {
   width: 250px;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.product_box2 {
   width: 950px;
   height: 130px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.product_remaining {
   border: 1px solid black;
   width: 450px;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   
font-family: "Arial Black", Gadget, sans-serif;
font-size: 17px;
letter-spacing: 0px;
word-spacing: 0px;
color: #5425FF;
font-weight: 400;
text-decoration: underline solid rgb(68, 68, 68);
font-style: italic;
font-variant: normal;
text-transform: none;
}

.product_count {
   border: 1px solid black;
   width: 150px;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.product_count input {
   width: 150px;
   height: 80px;
   font-size: large;
   padding-left: 50px;
}

.product_price {
   border: 1px solid black;
   width: 350px;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.cart_tag_ul {
   display: flex;
}

.buttons {
   width: 1200px;
   height: 100px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.btn11 {
   width: 100px;
   height: 80px;
}

.modal {
   justify-content: center;
   flex-direction: column;
   align-items: center;
   width: 500px;
   height: 400px;
   background: black;
   opacity: 0.9;
   top: 200px;
   left: 520px;
   box-shadow: 0 0 10px #000;
   position: relative;
   position: fixed;
}

.position {
   display: flex;
   justify-content: center;
   align-items: center;
}

.modal_content {
   justify-content: center;
   align-items: center;
   width: 500px;
   height: 400px;
   display: flex;
   flex-direction: column;
   top: 900px;
}

.modal_content input {
   margin-bottom: 10px;
}

/*flex-direction :row -> 왼쪽에서 오른쪽 정렬
 flex-direction : column -> 위에서 아래로 정렬*/

/* flex-wrap : nowrap -> 창이 작아져도 아이템들이 그대로 이게 디폴트
    flex-wrap : wrap -> 창이 작아지면 밑으로 내려감*/

/*중심축 정렬 justify-content:  flex-start  -> 왼쪽에서 오른쪽으로 수평정렬 이게 디폴트
justify-content:  flex-end -> 순서는 유지하되, 오른쪽으로 배치
justify-content: space-around - > 각 아이템들 간격을 조금씩 띄움 
*/

/* 반대축에서 아이템 정렬
align-content : 
*/