@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

#index_main {
	padding-top: 170px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 1px;
}

.main_buytag {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.slide_box{
	width: 1920px;
	height: 450px;
	display: flex;
	justify-content: center;
	align-content: center;
}

.main_text {
	font-weight: bold;
	font-size: 24px;
	width: 150px;
	height: 100px;
	font-family: 'GangwonEduPowerExtraBoldA';
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	
}


.main_contentbox {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	width:650px;
	font-size: 14px;
	flex-wrap: wrap;
}

.main_imgbox {
	margin-top:25px;
	width: 200px;
	border : 1px solid #dae1e6;
	background-color:#FFFAFA;
	height: 300px;
}

.main_imgbox .img_url {
	width: 200px;
	height: 200px;
	
}

.main_imgbox a img {
	width: 200px;
	height: 200px;
	border-radius: 10px;
}

.name_url {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
}

.main_imgbox span {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 20px;
}
.product_remaining{
	margin-left: 30px;
	margin-top: 15px;
	font-family: 'LINESeedKR-Bd';
}
.new_box{
	border : 1px solid #dae1e6;
	height: 850px;
	display: flex;
	width: 1400px;
	justify-content: space-around;
	margin-top: 50px;
}
.best_box{
	border : 1px solid #dae1e6;
	height: 850px;
	display: flex;
	width: 1400px;
	justify-content: space-around;
	margin-top: 50px;
}
.main_imgbox:hover{ /* 태그에 마우스를 올렸을 때 */
  transform: scale(1.2);
}
.main_slider_box{
	width: 275px;
	display: flex;
	justify-content: center;
	align-items: center;
}