
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title>Insert title here</title>
<link
   href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
   rel="stylesheet"
   integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
   crossorigin="anonymous">
<link th:href="@{/css/header.css}" rel="stylesheet" />
<link th:href="@{/css/footer.css}" rel="stylesheet" />
<link th:href="@{/css/cart.css}" rel="stylesheet" />
<link th:href="@{/css/reset2.css}" rel="stylesheet" />
<link th:href="@{/css/reset.css}" rel="stylesheet" />
<link th:href="@{/css/productdetail.css}" rel="stylesheet" />

<link rel="stylesheet"
   href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
   href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap"
   rel="stylesheet">
<script
   src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/header.js}"></script>
<script type="text/javascript" th:src="@{/js/cart.js}"></script>


<script>
   $(document).ready(function() {
   });
</script>


</head>
<body>
   <div class="container">
      <header th:replace="header :: header"> </header>
      <!--     <main id="cart_main_con">-->


      <div class="main_box">
         <div class="cart-title">
            <span class="material-symbols-outlined"> shopping_cart </span>장바구니
         </div>

         <form th:action="@{/orders/carts}" th:method="put" class="cart_form">
            <label> <span>전체선택</span> <input type="checkbox"
               id="cbx_chkAll" class="allcheck">
            </label>

            <div class="cart_list" th:each="orderitem ,numStat :${order}">
             
               <!--  체크 박스 -->

               <div class="product_select_event">
                  <input type="checkbox" th:value="${orderitem.o_id}"  th:class="|chk${numStat.count}|" name="o_id">
               </div>

               <!-- 상품 이미지 -->
               <div class="product_img">
                  <img th:src="@{/projectimg/}+${orderitem['img'].getImg_name}">
               </div>

               <!-- 상품 제목 / 남은시간 / 가격 / 수량 -->
               <div class="product_total_box">
                  <div class="product_box1">
                     <div class="product_title">
                        <span th:text="${orderitem['product'].getP_name}"> </span>
                     </div>
                     <div class="product_option1" th:text="|옵션1 : ${orderitem['o_option1']}|"></div>
                     <div class="product_option2" th:text="|옵션2 : ${orderitem['o_option2']}|"></div>
                  </div>

                  <div class="product_box2">
                     <div class="product_remaining"
                        th:text="${orderitem['product'].getP_duedate}"></div>

                     <div class="product_count">
                        <input type="number" placeholder="수량" name="o_quantity"
                           th:value="${orderitem.o_quantity}" th:id="|chk${numStat.count}|">
                     </div>
                     <div class="product_price"
                        th:text="|${orderitem['product'].getP_price} 원|"></div>
                  </div>
               </div>

            </div>

            <!-- 모달 안에 카카오 주소 API 삽입  -->
            <!-- =====================================================================================  -->
            <div class="modal">
               <div class="modal_content" title="클릭하면 창이 닫힙니다.">
                  <div class="position">
                     <input type="text" id="sample6_postcode" placeholder="우편번호"
                        readonly="readonly"> <input type="button"
                        onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
                  </div>

                  <input type="text" id="sample6_address" placeholder="주소"
                     readonly="readonly"> <input type="text"
                     id="sample6_detailAddress" placeholder="상세주소"> <input
                     type="text" id="sample6_extraAddress" placeholder="배송메세지">
                  <br> <input type="submit" value="입력완료">


                  <script
                     src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                  <script>
                     function sample6_execDaumPostcode() {
                        new daum.Postcode(
                              {
                                 oncomplete : function(data) {
                                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                                    var addr = ''; // 주소 변수
                                    var extraAddr = ''; // 참고항목 변수

                                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                                       addr = data.roadAddress;
                                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                                       addr = data.jibunAddress;
                                    }

                                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                                    if (data.userSelectedType === 'R') {
                                       // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                                       // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                                       if (data.bname !== ''
                                             && /[동|로|가]$/g
                                                   .test(data.bname)) {
                                          extraAddr += data.bname;
                                       }
                                       // 건물명이 있고, 공동주택일 경우 추가한다.
                                       if (data.buildingName !== ''
                                             && data.apartment === 'Y') {
                                          extraAddr += (extraAddr !== '' ? ', '
                                                + data.buildingName
                                                : data.buildingName);
                                       }
                                       // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                                       if (extraAddr !== '') {
                                          extraAddr = ' ('
                                                + extraAddr
                                                + ')';
                                       }
                                       // 조합된 참고항목을 해당 필드에 넣는다.
                                       document
                                             .getElementById("sample6_extraAddress").value = extraAddr;

                                    } else {
                                       document
                                             .getElementById("sample6_extraAddress").value = '';
                                    }

                                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                                    document
                                          .getElementById('sample6_postcode').value = data.zonecode;
                                    document
                                          .getElementById("sample6_address").value = addr;
                                    // 커서를 상세주소 필드로 이동한다.
                                    document
                                          .getElementById(
                                                "sample6_detailAddress")
                                          .focus();
                                 }
                              }).open();
                     }
                  </script>
                  <!-- =====================================================================================  -->

               </div>
            </div>

            <div class="buttons">

               <button type="button" class="btn btn-primary btn11" id="moalbutton">구매하기</button>
               <button type="button" class="btn btn-danger btn11" id="remove_btn">삭제하기</button>
            </div>


         </form>
      </div>

      <!-- </main> -->
      <footer th:replace="footer ::footer"></footer>

   </div>
   <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"></script>






</body>
</html>