<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title>Dogether 로그인 페이지</title>


<link th:href="@{/css/footer.css}" rel="stylesheet" />
<link th:href="@{/css/reset2.css}" rel="stylesheet" />
<link th:href="@{/css/reset.css}" rel="stylesheet" />
<link th:href="@{/css/loginForm.css}" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/header.js}"></script>
<script type="text/javascript" th:src="@{/js/loginForm.js}"></script>
</head>

<body>

	<h1>
		<a href="/index"> <img src="/projectimg/logo.png" alt="두개더로고"> <br>
		</a>
	</h1>
	<input type="hidden" class="error" th:value="${exception}" th:if="${exception}!=null">
	<main>


		<form name="loginform" th:action="@{/members}" th:method="POST">
			<fieldset>
				<ul>
					<li>
						<span class="img">
							<i class="bi bi-envelope"></i>
						</span>
						<span>
							<input type="text" class="in" name="m_email" id="m_email" data-name="이메일" placeholder="아이디(이메일)">
						</span>
					</li>
					<li class="error email_error" id="check_email">이메일 에러</li>

					<li>
						<span class="img" id="pwd_bg">
							<i class="bi bi-bag"></i>
						</span>
						<span>
							<input type="password" class="in" name="m_pwd" id="m_pwd" data-name="비밀번호" placeholder="비밀번호">
						</span>
						<div class="show-hide">
							<span class="pwd-show" title="비밀번호 보이기">
								<i class="bi bi-eye-fill"></i>
							</span>
							<span class="pwd-hide" title="비밀번호 가리기">
								<i class="bi bi-eye-slash"></i>
							</span>
						</div>
					<li class="error pwd_error">비밀번호 작성</li>

				</ul>
				<label class="find_pwd"> <a id="pwdfind" href="/members/info">비밀번호 찾기</a>
				</label>
				<button type="button" id="login">로그인</button>

				<div class="text-center">
					<!--  -h3 class="form-signin-heading">Please login</h3-->
				</div>

			</fieldset>
			<a href="/oauth2/authorization/google" class="google">구글 로그인</a> <a href="/members/users" class="join_link">회원가입</a>
			<footer>
				&copy; DoGaTher Corp. All rights reserved<br> 서울특별시 금천구 가산디지털1로 70 <a href="https://github.com/sopand" rel="noopener" target="_blank" id="mk" />조장 @김민규 </a>
				<div id="kosta">
					<a href="https://github.com/OSos0s" rel="noopener" target="_blank" />조원 @김영선 </a> <a href="https://github.com/lavaJae" rel="noopener" target="_blank" /> @김재윤 </a> <a href="https://github.com/ash-silver" rel="noopener" target="_blank" /> @박재은 </a> <a href="https://github.com/hjsong15" rel="noopener" target="_blank" /> @송혁주 </a> <a href="https://github.com/leejuk944" rel="noopener" target="_blank" /> @이주열</a>



				</div>

			</footer>

		</form>




	</main>
	</div>
</body>

</html>
