<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/prodlist.css">
<link th:href="@{/css/header.css}" rel="stylesheet" />
<link th:href="@{/css/footer.css}" rel="stylesheet" />
<link th:href="@{/css/prodlist.css}" rel="stylesheet" />
<link th:href="@{/css/reset2.css}" rel="stylesheet" />
<link th:href="@{/css/reset.css}" rel="stylesheet" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/header.js}"></script>
<script type="text/javascript" th:inline="javascript">

/*<![CDATA[*/

//페이지가 시작되면 자동 실행
window.onload = () => {
	findAllPost();
}

//게시글 리스트 조회
function findAllPost() {
	const list =/*[[${plist.list}]]*/"";// PagingResponse의 멤버인 List<T> 타입의 list를 의미
	  if ( !list.length ) { //리스트가 비어있는 경우, "검색 결과가 없다"는 메시지를 행에 출력
		$(".product_list").html('<td colspan="6"><div className="no_data_msg">검색된 결과가 없습니다.</div></td>');
		drawPage();//페이지네이션 HTML을 제거(초기화)한 후 로직을 종료합니다.
	}

	const pagination = /*[[${plist.pagination}]]*/"";//PagingResponse의 멤버인 pagination을 의미
	const img=/*[[${img}]]*/"";
	const dis=/*[[${dis}]]*/"";
	const params =/*[[${params}]]*/""; // @ModelAttribute로 바로 1대1 맵핑시킨 값을 받아옴
	let num = pagination.totalRecordCount - ((params.page - 1) * params.recordSize); // 전체 데이터의 갯수 - ((현재페이지-1)*한페이지의 행의갯수)      
	// ex) 100 - ((1-1)*10) = 100
	drawList(list, img, dis);
	drawPage(pagination, params);
}

function drawList(list, img, dis) {
	let index=0;
	let html = '';


	list.forEach(row => {//list의 갯수 만큼 반복  변수명을 row으로 대체

		html += `
			<div class="list_box">
				<a href="/products/${row.p_id}"> 
					<div class="list_box_url">
						<img src="/projectimg/${img[index].img_name}">
						<span>제품명:${row.p_name}</span>
						<span>가격:${row.p_price}원</span>				
						<span>목표 달성시 할인률:${dis[index].dis_count}%</span>
						<div class="product_remaining">${row.p_duedate}</div>
					</div>					
				</a>
			</div>               
        `;
		index++;
	})
	html+='<div class="paging_btn"></div>'
	$(".product_list").html(html); // #list에 해당 html을 대체해서 넣어준다.
	
	 $(".product_remaining").each(function() {
		    countDownTimer($(this), $(this).text());
	 });

}

// 페이지 HTML draw  하단의 버튼에 해당하는 스크립트로 페이징의 핵심
function drawPage(pagination, params) {
	//SearchDto의 기본 Default값을 바탕으로 mybatis의 count를 같이 받아와 계산후 저장시켜둔 pagingnation과 SearchDto를 받아옴
	if (!pagination || !params) {
		// pagination, params가 존재하지 않는다면 해당 스크립트를 출력
		$(".paging_btn").html("");
		throw new Error('Missing required parameters...');
	}

	let html = '';

	// 첫 페이지, 이전 페이지

	if (pagination.existPrevPage) { // 현재페이지에서 보이는 스타트페이지가 1이 아닐경우 해당 스크립트의 HTML이 만들어진다. ( <  이전 페이지 ) 
		html += `
            <a href="javascript:void(0);" onclick="movePage(1)" class="page_bt first">첫 페이지</a>
            <a href="javascript:void(0);" onclick="movePage(${pagination.startPage - 1})" class="page_bt prev">이전 페이지</a>
        `;
	}

	// 페이지 번호
	html += '';
	// 1,2,3,4,5~~~ 페이지의 번호를 만들어내는 구문
	for (let i = pagination.startPage; i <= pagination.endPage; i++) {
		html += (i !== params.page)// 현재 페이지 번호( params.page )와 그려야 할 페이지 번호( i )가 같으면,해당 페이지 번호를 활성화(on)
			? `<a href="javascript:void(0);" onclick="movePage(${i});">${i}</a>`
			: `<span class="on">${i}</span>`
	}
	html += '';

	// 다음 페이지, 마지막 페이지
	if (pagination.existNextPage) {//현재 위치한 페이지 뒤에 데이터가 있는 경우, 다음 페이지 버튼과 끝 페이지 버튼을 HTML에 추가
		html += `
            <a href="javascript:void(0);" onclick="movePage(${pagination.endPage + 1});" class="page_bt next">다음 페이지</a>
            <a href="javascript:void(0);" onclick="movePage(${pagination.totalPageCount});" class="page_bt last">마지막 페이지</a>
        `;
	}
	$(".paging_btn").html(html); 
}
// 페이지 이동
function movePage(page) {
	const queryParams = {
		page: (page) ? page : 1,
		recordSize: 10,
		pageSize: 10
	}
	location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();
}

const countDownTimer = function(id, date) {
    let _vDate = new Date(date); // 전달 받은 일자
    let _second = 1000;
    let _minute = _second * 60;
    let _hour = _minute * 60;
    let _day = _hour * 24;
    let timer;
    function showRemaining() {
       let now = new Date();
       let distDt = _vDate - now;

       if (distDt < 0) {
          clearInterval(timer);
          $(id).text('판매종료 되었습니다!');
          $(id).css("color","gray");
          return;
       }

       let days = Math.floor(distDt / _day);
       let hours = Math.floor((distDt % _day) / _hour);
       let minutes = Math.floor((distDt % _hour) / _minute);
       let seconds = Math.floor((distDt % _minute) / _second);

       let html = days + '일 ' + hours + '시간 ' + minutes + '분 ' + seconds + '초 ';

       $(id).text(html);
    }

    timer = setInterval(showRemaining, 100);
 }


/*]]>*/

</script>
</head>
<body>
	<div id="container">
		<header th:replace="header :: header"> </header>

		<main id="productlist">
		
				
		
		<div class="product_order_list">	
			<ul>
		        <li th:if="${category}==null and ${keyword}==null" ><a href="/index/newlist">최신순</a></li>
		        <li th:if="${category}!=null and ${keyword}==null" ><a th:href="|/index/newlist/${category}|">최신순</a></li>		        
		        <li th:if="${category}==null and ${keyword}==null" ><a href="/index/pricelist">낮은가격순</a></li>
		        <li th:if="${category}!=null and ${keyword}==null"><a th:href="|/index/pricelist/${category}|">낮은가격순</a></li>
		        <li th:if="${category}==null and ${keyword}==null"><a href="/index/pricelistdesc">높은가격순</a></li>
		        <li th:if="${category}!=null and ${keyword}==null"><a th:href="|/index/pricelistdesc/${category}|">높은가격순</a></li>
		        <li th:if="${category}==null and ${keyword}==null"><a href="/index/bestlist">판매량순</a></li>
		        <li th:if="${category}!=null and ${keyword}==null"><a th:href="|/index/bestlist/${category}|">판매량순</a></li>
	        </ul>
		</div>
		
		<div class="main_contents">
		
			<div class="list_category">
				<h1 th:if="${category}!=null" th:text="${category}"></h1>
				<h1 th:if="${category}==null">전체상품</h1>
				<h1 th:if="${keword}!=null">검색 목록</h1>
			</div>
			
			<div class="product_list" id="list">
				
			</div>
		</div>

		</main>


		<footer th:replace="footer ::footer"></footer>

	</div>

</body>
</html>